// Penman Colors
@white: #FFFFFF;
@black: #000000;

@gray-00: #F9FBFF;
@gray-02: #F6F6FF;
@gray-05: #F2F3FA;
@gray-07: #EAEBF2;
@gray-10: #E2E3EC;
@gray-20: #C6C8CF;
@gray-30: #AAADBD;
@gray-40: #8F93A0;
@gray-50: #62687A;
@gray-60: #505668;
@gray-70: #2F323A;
@gray-80: #222328;
@gray-90: #151518;

@red-00: #FAEBEE;
@red-10: #EBB2BD; 
@red-20: #E18B9D; 
@red-30: #DC788C; 
@red-40: #D2526C; 
@red-50: #CD3F5C;
@red-60: #B83852;
@red-70: #A63055;
@red-80: #943449;
@red-90: #8F2C40;

@orange-00: #FCE4D6;
@orange-10: #FAC9AD;
@orange-20: #F8AE84;
@orange-30: #F7A170;
@orange-40: #F58647;
@orange-50: #F47933;
@orange-60: #DB6C2D;
@orange-70: #C36028;
@orange-80: #9D5025;
@orange-90: #7A3C19;

@yellow-00: #FFF2C0;
@yellow-10: #FFEEAC;
@yellow-20: #FFEA97;
@yellow-30: #FFE16E;
@yellow-40: #FFD944;
@yellow-50: #FFD530;
@yellow-60: #FFC220;
@yellow-70: #FAA632;
@yellow-80: #E1952D;
@yellow-90: #CA9439;

@green-00: #E6F7F1;
@green-10: #9DDFC7;
@green-20: #6DCFAB;
@green-30: #3CbF8F;
@green-40: #24B781;
@green-50: #0CB074;
@green-60: #0A9E78;
@green-70: #40827A;
@green-80: #2B796F;
@green-90: #146B60;

@blue-00: #E6F0F7;
@blue-10: #9BC3E1;
@blue-20: #69A5D2;
@blue-30: #3687C3;
@blue-40: #1D78BC;
@blue-50: #056AB5;
@blue-60: #29739F;
@blue-70: #126495;
@blue-80: #105A86;
@blue-90: #0E5077;

@indigo-00: #ECEDF5;
@indigo-10: #B5B8D8;
@indigo-20: #9195C5;
@indigo-30: #6C72B2;
@indigo-40: #5A60A8;
@indigo-50: #484F9F;
@indigo-60: #393F7F;
@indigo-70: #263480;
@indigo-80: #222E73;
@indigo-90: #1E2966;

@violet-00: #E7E1EF;
@violet-10: #D0C3DF;
@violet-20: #B8A6CF;
@violet-30: #A188BF;
@violet-40: #9579B7;
@violet-50: #8A6BAF;
@violet-90: #7358A0;
@violet-90: #674F90;
@violet-90: #5C4680;
@violet-90: #453560;

@teal-00: #E5F8F8;
@teal-10: #99E3E4;
@teal-20: #55D5D7;
@teal-30: #4DCED0;
@teal-40: #1AC0C3;
@teal-50: #01BABD;
@teal-70: #208A9B;
@teal-70: #087E90;
@teal-80: #077181;
@teal-90: #066473;

@pink-50: #EF4C86;
@pink-90: #C3408B;
