.editor {
  /* All 'dem swatches */
}
.editor .CodeMirror {
  background-color: #F9FBFF;
  color: #151518;
}
.editor .CodeMirror-gutters {
  background-color: #F9FBFF;
}
.editor .CodeMirror-linenumber {
  color: #C6C8CF;
}
.editor .CodeMirror-selected {
  background-color: #E2E3EC;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #E2E3EC;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #AAADBD;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background-color: #C6C8CF !important;
  color: #151518 !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #C6C8CF;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #C6C8CF;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #C6C8CF;
}
.editor .CodeMirror-foldmarker {
  border-color: #C6C8CF;
  background-color: #C6C8CF;
  color: #AAADBD;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: #E2E3EC;
}
.editor .CodeMirror-searching {
  background-color: #C6C8CF;
}
.editor .CodeMirror-searching.searching-current-match {
  background-color: #FFD530;
}
.editor .cm-searching {
  background-color: #FFD530;
  box-sizing: border-box;
  box-shadow: 0px 0px 3px 3px #C6C8CF;
  padding: 0px 2px 0px 2px;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3 {
  color: #7A3C19;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #8F2C40;
}
.editor .CodeMirror .cm-url.cm-string {
  color: #0E5077;
}
.editor .CodeMirror .cm-url {
  color: #0E5077;
}
.editor .CodeMirror .cm-url:hover {
  text-decoration: underline;
  text-underline-position: under;
}
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #056AB5;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #CA9439;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #7A3C19;
}
.editor .CodeMirror .cm-variable {
  color: #056AB5;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #146B60;
}
.editor .CodeMirror .cm-comment {
  color: #AAADBD;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #8F2C40;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #151518;
}
.editor .CodeMirror .cm-link {
  color: #146B60;
  text-decoration: none;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #7A3C19;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-builtin,
.editor .CodeMirror .cm-tag {
  color: #1E2966;
}
.editor .CodeMirror .cm-hr {
  color: #CA9439;
}
.editor .CodeMirror .cm-quote.cm-formatting-quote {
  opacity: 0.3;
}
.editor .CodeMirror .cm-quote {
  opacity: 0.6;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #E2E3EC;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em,
.editor .CodeMirror .cm-formatting-strikethrough {
  opacity: 0.3;
}
.editor .CodeMirror .cm-strong {
  color: #8F2C40;
}
.editor .CodeMirror .cm-em {
  color: #8F2C40;
}
.editor .CodeMirror .cm-strikethrough {
  color: #2F323A;
  text-decoration-color: #AAADBD;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #151518;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  color: #151518;
  box-sizing: border-box;
  border: 1px solid #E2E3EC;
  padding: 0px 2px 0px 2px;
}
.editor .CodeMirror .cm-formatting.cm-inline-code {
  border: none;
  padding: 0px 0x 0px 0px;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(226, 227, 236, 0.4);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #146B60;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(226, 227, 236, 0.7) !important;
}
