.editor {
  /* All 'dem swatches */
}
.editor .CodeMirror {
  background-color: #F9FBFF;
  color: #151518;
}
.editor .CodeMirror-gutters {
  background-color: #F9FBFF;
}
.editor .CodeMirror-linenumber {
  color: #C6C8CF;
}
.editor .CodeMirror-selected {
  background-color: #E2E3E7;
}
.editor .CodeMirror-focused .CodeMirror-selected {
  background-color: #E2E3E7;
}
.editor .CodeMirror-cursor {
  border-left: 1px solid #AAADB7;
}
.editor .CodeMirror-matchingbracket,
.editor .CodeMirror-matchingtag {
  background-color: #C6C8CF !important;
  color: #151518 !important;
}
.editor .CodeMirror-foldgutter-open:after {
  color: #C6C8CF;
}
.editor .CodeMirror-foldgutter-folded:after {
  color: #C6C8CF;
}
.editor .CodeMirror.over-gutter .CodeMirror-foldgutter-open:after,
.editor .CodeMirror-activeline .CodeMirror-foldgutter-open:after {
  color: #C6C8CF;
}
.editor .CodeMirror-foldmarker {
  border-color: #C6C8CF;
  background-color: #C6C8CF;
  color: #AAADB7;
}
.editor .CodeMirror .CodeMirror-linewidget img.inline-widget {
  background: #E2E3E7;
}
.editor .CodeMirror-searching {
  background-color: #C6C8CF;
}
.editor .CodeMirror-searching.searching-current-match {
  background-color: #FFD530;
}
.editor .cm-searching {
  background-color: #FFD530;
}
.editor .CodeMirror .cm-atom,
.editor .CodeMirror .cm-formatting-list.cm-variable-3 {
  color: #F47933;
}
.editor .CodeMirror .cm-keyword,
.editor .CodeMirror .cm-formatting-list.cm-variable-2 {
  color: #056AB5;
}
.editor .CodeMirror .cm-url,
.editor .CodeMirror .cm-string,
.editor .CodeMirror .cm-string-2,
.editor .CodeMirror .cm-hr {
  color: #484F9F;
}
.editor .CodeMirror .cm-number,
.editor .CodeMirror .cm-attribute,
.editor .CodeMirror .cm-plus {
  color: #056AB5;
}
.editor .CodeMirror .cm-def,
.editor .CodeMirror .cm-property {
  color: #F47933;
}
.editor .CodeMirror .cm-variable {
  color: #056AB5;
}
.editor .CodeMirror .cm-operator,
.editor .CodeMirror .cm-meta,
.editor .CodeMirror .cm-bracket {
  color: #49B95C;
}
.editor .CodeMirror .cm-comment {
  color: #AAADB7;
  font-style: italic;
}
.editor .CodeMirror .cm-error,
.editor .CodeMirror .cm-minus {
  color: #BF616A;
}
.editor .CodeMirror .cm-formatting-header {
  opacity: 0.3;
}
.editor .CodeMirror .cm-header {
  color: #151518;
}
.editor .CodeMirror .cm-link {
  color: #49B95C;
  text-underline-position: under;
}
.editor .CodeMirror .cm-rangeinfo {
  color: #F47933;
}
.editor .CodeMirror .cm-qualifier,
.editor .CodeMirror .cm-builtin,
.editor .CodeMirror .cm-tag {
  color: #484F9F;
}
.editor .CodeMirror .cm-quote {
  color: #7358A0;
  font-style: italic;
}
.editor .CodeMirror .cm-whitespace::before {
  color: #E2E3E7;
  opacity: 0.4;
}
.editor .CodeMirror .cm-formatting-quote,
.editor .CodeMirror .cm-formatting-strong,
.editor .CodeMirror .cm-formatting-em {
  opacity: 0.6;
}
.editor .CodeMirror .cm-strong {
  color: #CD3F5C;
}
.editor .CodeMirror .cm-em {
  color: #F47933;
}
.editor .CodeMirror .CodeMirror-code > div > pre > span::after,
.editor .CodeMirror .CodeMirror-line > span::after {
  color: #151518;
  opacity: 0.4;
}
.editor .CodeMirror .cm-inline-code {
  background-color: rgba(226, 227, 231, 0.6);
  color: #8F93A0;
}
.editor .CodeMirror .gfm-codeblock-bg.CodeMirror-linebackground {
  background: rgba(226, 227, 231, 0.4);
}
.editor .CodeMirror .cm-table-sep,
.editor .CodeMirror .table-row.table-row-1 {
  color: #49B95C;
}
.editor .CodeMirror-activeline-background,
.editor .CodeMirror-activeline-gutter {
  background-color: rgba(226, 227, 231, 0.7) !important;
}
